.day
  color: #D9D9E8
  > div    
    height: 100%
    padding-left: 2px    
    margin-left: -3px
    box-sizing: border-box
    border: 2px solid transparent
    &:hover
      border: 2px solid #FE9192
      color: #aaa
      transition: all .5s ease
      cursor: pointer
.currentMonth
  color: #9697F1
  font-weight: bold
.currentDay
  > div    
    border: 2px solid #FE9192
    