@import '../smart-grid.sass'

.calendar
  +wrapper()
  width: 100%
  +row-flex
  background-color: #fff 
  border-radius: 10px
  height: 90vh
  box-shadow: 0 0 3px 0px #000
  > div
    +col-padding()   
